{% extends "feeds/base.html" %}{% block content %}
    <div>
        {% for obj in userImage_object %}
        <img src="{{ obj.image.url }}" alt="shot.png">
        <h1><p>{{ obj.profile.raw_username }} </p></h1>
        <p>Short Bio: {{ obj.profile.short_bio }}</p>
        <p>Phone: {{ obj.profile.phone }} </p>
        <p>Email: {{ obj.user.email }} </p>
        <p>Location: {{ obj.profile.location }}</p>
        {% comment %} <p> {{ obj.user.email }} </p> {% endcomment %}
        {% endfor %}
<a href="{% url 'user:update' request.user %}">Edit Profile</a>
{% endblock content %}
